<service>
  <id>%SERVICE_ID%</id>
  <name>%SERVICE_NAME%</name>
  <description>%SERVICE_DESCRIPTION%</description>
  <executable>"%JRE%"</executable>
  <arguments>-Djava.io.tmpdir=C:\Windows\TEMP -Dfile.encoding=UTF-8 -jar "%JAR%"</arguments>
  <logmode>rotate</logmode>
  <stopparentprocessfirst>true</stopparentprocessfirst>
</service>